body{
    background: url(netflix.jpg);
    background-repeat: no-repeat;
    background-size: 2700px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   


}
.logo img{
    width: 200px;
    height: 120px;
    right: 750px;
   
}

.principal{
    width: 500px;
    margin: 0 auto;
    align-items: center;
    background-color: rgba(0,0,0,.75);
    color: white;
    width: 420px;
    padding: 30px;
}
.entrar h1{
   font-weight: bold; 
   margin: 30px;
   font-size: 32px;
}
.caixas input{
    display: block;
    background: rgb(65, 64, 64);
    color: white;
    border: none;
    border-radius: 2px;
    margin: 15px;
    margin-left: 30px ;
    padding: 15px;
    width: 320px;
}
.botao{
    padding-left: 30px;
}
.botao input{
    background: red;
    color: white;
    border: none;
    padding: 15px;
    width: 350px;
    
}
.checkbox{
    display:flex ;
    align-items: center;
    font-size: 13px;

}
.checkbox div{
    margin: 0px 40px;
}
.selecione{
    color: rgb(187,187 ,187 );
}
.ajuda p a{
    text-decoration: none;
    color: rgb(187, 187, 187);

}
.facebook{
    display: flex;
    align-items: center;
    margin: 40px 40px 20px ;
}
.facebook img{
    width: 22px;
    height: 22px;

}
.facebook p{
    margin-left: 10px;
    font-size: 13px;
}
.assine{
    margin: 0px 40px;
    color: rgb(187, 187, 187);
    font-size: 16px;
}
.assine a{
    text-decoration: none;
    color: white;
    
}
.assine a:hover{
    text-decoration: underline;
}

.ultimo-paragrafo{
    margin: 0px 40px;
    font-size: 13px;
    color: rgb(187, 187, 187);
    padding-bottom: 100px;
}
.ultimo-paragrafo a{
    text-decoration: none;
    color: rgb(57, 57, 246);
}
.ultimo-paragrafo a:hover{
    text-decoration: underline;
}